{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div class="container">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-secondary">{{ button_label|default('Search') }}</button>
    {{ form_end(form) }}
    </div>
    <div class="container-fluid">
    <h1>Toutes les séries de la table program : </h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
            <a class="btn btn-secondary" href="{{ path('program_show', { slug: program.slug }) }}">Voir la fiche</a>

        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a class="btn btn-primary my-3" href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
    </div>
{% endblock %}