{% extends 'base.html.twig' %}

{% block title %}Saison #{{ program.id }}{% endblock %}

{% block body %}
    <div class="container-fluid">
    <div class="row">
        </div>
        <div class="col-12">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Catégorie :
                <a href="{{ path("category_index",{category: program.category.name} ) }}">
                    {{ program.category.name }}
                </a>
        </div>
    </div>
    <p>Nombre d'épisodes :
    <div class="accordion" id="accordionExample">
    <div class="card">
    {% for episode in episodes %}
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <p><a href="{{ path('program_episode_show',
            {program: program.id,season: season.id, episode: episode.id}) }}">
            Episode n° {{ episode.number }}: {{ episode.title }}</a></p>
        </p>
        </button>
        </h2>
        </div>
    {% endfor %}
    </div>
    </div>

    </p>
    </p>
    </div>
{% endblock %}

